<form class="tp-form">
  <!-- <mat-form-field class="tp-full-width">
    <input matInput placeholder="Favorite Food" value="Pasta" />
  </mat-form-field> -->
  <!-- <mat-form-field class="tp-full-width">
    <textarea matInput placeholder="Enter your comment"></textarea>
  </mat-form-field>
  <mat-form-field class="tp-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl" />
    <mat-error
      *ngIf="emailFormControl.hasError('email') 
         && !emailFormControl.hasError('required')"
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field> -->

  <!-- <mat-form-field> -->
  <!-- <mat-hint align="end">
    <input
      matInput
      align="end"
      placeholder="email"
      value=""
      class="example-right-align"
    />
    <span matSuffix>@qq.com</span>
  </mat-hint> -->

  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput type="number" align="end" class="example-right-align" />
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>000</span>
  </mat-form-field>
  <!-- </mat-form-field> -->
</form>
